/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  color: #ffffff;
}

h1 {
  font-style: italic;
  color: #5a66a7;
}
